.quizContainerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quizContainer {
    background-color: #FFDDC1;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.emojiHeader {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
}

.answerButton {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #FF6584;
    color: white;
    border: none;
    border-radius: 30px;
    transition: transform 0.1s, background-color 0.2s;
}

.answerButton:hover {
    transform: scale(1.05);
    background-color: #FF3365;
}

.answerButton:active {
    transform: scale(0.95);
}



/* Styles pour l'affichage des résultats sur la carte FIFA */
.resultContainerFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.resultContainer {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.fifaCardImage {
    width: 100%;
}

.score, .totalScore {
    position: absolute;
    color: white;
    font-weight: bold;
}

.totalScore {
    bottom: 78%;
    left: 28%;
    transform: translateX(-50%);
    font-size: 3.5rem;
    color: #402a18;
    font-weight: 400;
}

.score-0 {
    position: absolute;
    top: 64.8%;
    left: 22%;
}
.score-1 {
    position: absolute;
    top: 72%;
    left: 22%;
}
.score-2 {
    position: absolute;
    top: 79%;
    left: 22%;
}
.score-3 {
    position: absolute;
    bottom: 27.1%;
    right: 35%;
}
.score-4 {
    position: absolute;
    bottom: 20%;
    right: 35%;
}
.score-5 {
    position: absolute;
    bottom: 13.2%;
    right: 35%;
}
.score {
    font-size: xx-large;
    color: #402a18;
    font-weight: 600;
}

.PessiCardImage {
    position: absolute;
    width: 50%;
    top: 16%;
    left: 42%;
}
