.opponentProgress .progress-bar {
    background-color: #007bff; /* Couleur de la barre */
    transition: width 0.4s ease-in-out; /* Transition pour un changement doux */
}

.opponentProgress {
    margin: 10px; /* Marges autour de la barre de progression */
}

.createOrJoinRoom{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 3%;
    width: 100%;
}
.quizzGameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}